
/* this is the body css */
body{
    background:#5498d3;
    position: relative;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-family:'Sen', sans-serif;
    color: #bde2ff;
}


/* general font styling for a tags */
a{
    text-decoration: none;
    color: #fff;
}

/* media querys to help with responsiveness */
@media screen and (min-width: 1000px) {
    .container{
        max-width: 936px;
    }
}

@media screen and (min-width: 849px) {
    header.header .container{
        flex-direction: column;
    }
}
/* header css */
header.header{
    justify-content: space-between;
    padding: 1rem 2rem;
    color: rgba(255,255,255,.8);
    backdrop-filter: blur(15px);
    border-bottom: 1px solid rgba(255,255,255,.1);
    top: 0;
    font-family: 'Poppins', sans-serif;
    
}

header.header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

header.header .header-brand{
    flex-grow: 1;
    font-family: "Poppins",sans-serif;;
    font-size: 40px;
    opacity: 1;
    color: #fff;
    text-decoration: underline;
    font-weight: 700;
}

header.header .header-navigation{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    list-style: none;
    text-transform: lowercase;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 1rem;
    height: 30px;
}

header.header .header-navigation a{
    margin-left: 4px;
    padding: 8px;
    text-decoration: none;
    color: rgba(255,255,255,.7);
    text-align: center;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-family:'Sen', sans-serif;
}

/* also still header css */
.dropdown{
    float: left;
  overflow: hidden;
}

.dropdown .dropbtn{
    font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.dropdown:hover{
    background-color: #3578b2;
    border: 1px solid rgba(255,255,255,.1);
    z-index: 1000;
}

.dropdown-content{
    display: none;
    
}

.dropdown-content a {
    float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover{
    background: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
  }

  /* general container ( gets used everywhere throughout the site) */

.container{
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
}

/* hero, title and subtitle are used in every page */
.hero{
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-body{
    flex-grow: 1;
    flex-shrink: 0;
    padding: 3rem 1.5rem;
}

.title{
    font-size: 2rem;
    font-family: 'Poppins',sans-serif;
}

.subtitle{
    font-family: 'Sen',sans-serif;
}

/* this is for the blog stuff */
.blog-entry{
    max-width: 600px;
    margin: 3rem auto;
    padding: 0;
    clear: both;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 16px;
    overflow: hidden;
    min-height: 150px;
    padding-left: 170px;
}

.blog-entry .header{
    position: absolute;
    left: 0;
    width: 150px;
    height: 150px;
    top: 0;
    border-radius: 1000px;
    overflow: hidden;
}

.blog-entry .header img{
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 2px 2px 0 0;
}

.blog-entry .title{
    font-size: 25px;
    padding: 0 1rem;
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
}

.blog-entry .summary{ 
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    pointer-events: none;
    font-family: 'Sen',sans-serif;
    font-weight: 600;
    
}

.bulletpoint{
    position: absolute;
    left: 0;
    width: 150px;
    height: 150px;
    display: flex;
    top: 0;
    align-items: center;
    justify-content: center;
    border-radius: 1000px;
    overflow: hidden;
    font-size: 57px;
}

.bulletpoint p{ 
    color: white;
}


.news-container{
    display: flex;
    justify-content: space-evenly;
}

/* this is for the cards that home, genres and news use */
.card {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    width: 300px;
    overflow: hidden;
}


.card .img-cont {
    overflow: hidden;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
}
.card .img-cont img {
    z-index: 0;
    width: 100%;
    transform: scale(1.2);
}
.card .content-cont {
padding: 20px;  
}
.card .content-cont span {
display: block; 
}
.card .content-cont .card-header {
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 10px;
    font-size: 20px;
    font-family: 'Poppins';
}
.card .content-cont .card-body {
    font-family: 'Sen',sans-serif;   
}

.newsArticle{
    width: 50%;
    margin: 30px auto;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 10px;
    color: white;
}

.newsArticle li{
    color: white;
}

.readArticle{
    text-align: center;
    color: white;
}

.newsArticle h2,p{
    color: white;
}

.hidden{
    display: none !important;
}

.show{
    display: block;
}

.genreSubtext{
    display: block;
    text-align: center;
    color: #bde2ff;
}

.genreGallery{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px 19%;
    row-gap: 20px;
}

.genreHeroContainer{
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.genreArrow{
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 80px;
    justify-content: center;

}

.genreExit{
    float: right;
    font-size: 40px;
}

.informationCard{
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    overflow: hidden;
    /* height: 500px; */
    display: flex;
    margin: 10px 0;
}

.informationContent{
    width: 50%;
    margin: 0 10px;
}

.informationContent h4{
    color: white;
    text-transform: uppercase;
}

.informationContent p{
    color: #bde2ff;
}
.informationImg{
    overflow: hidden;
    position: relative;
    width: 50%;
}
.informationCard .informationImg .img{
    z-index: 0;
    width: 100%;
    transform: scale(1.2);
}

.imagesTable{
    width: 100%;
    margin: 20px 0;

}

.imagesTable th{
    color: white;
}

.imagesTable td{
    background-color: #3578b2;
}

.formContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    margin-top: 20px;
}

.formContainer label,input { 
    margin-right: 50%
}

.name, .email{
    width: 15%;
    min-width: 250px;
}

.message{
    width: 50%;
}

.submitBtn{
    color: black;
    margin: 5px 0;
}

.invis{
    display: hidden;
}

.results-container{
    margin-top: 30px;
}
